<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="images/logo.png">
  <meta name="description" content="Free, modern and nice web template for Minecraft server.">
  <meta name="author" content="Astronawta">

  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/pages/rules.css">

  <title>La Finca | Reglas</title>
</head>
<body>
  <!--Navbar-->
  <div class="navbar">
    <div class="menu-mobile">
      <a href="index.html">
        <div class="logo">
          <img src="images/logo.png" alt="Server logo" class="logo-img">
          <h3 class="server-name">La Finca</h3>
        </div>
      </a>
      <div class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="links">
      <a href="/" class="link">Inicio</a>
	  <a href="map" class="link">Mapa</a>
      <a href="#" class="link active">Reglas</a>
      <a href="admin-team" class="link">Equipo</a>
      <a href="contact" class="link">Contacto</a>
    </div>
  </div>

  <!--Header-->
  <section id="header">
    <div class="content">
      <div class="info">
        <p class="minecraft-server-ip">lafinca.tk</p>
        <h1 class="title">Sigue las <span>reglas</span></h1>
      </div>
      <p class="description">
        Lista de todas las reglas de Minecraft y Discord.
      </p>
    </div>
  </section>

  <!--Rules-->
  <section id="rules">
    <div class="content">
      <div class="warning">
        <p>No conocer las reglas no es una excusa!</p>
        <div class="icon">
          <i class="fa-solid fa-exclamation"></i>
        </div>
      </div>

      <div class="minecraft-rules rules">
        <h2 class="minecraft-rules-title rules-title">Minecraft</h2>
        <ol class="rules-list">
          <li class="rule">Mantener el respeto.</li>
          <li class="rule">SOLO se puede proteger la dimensión del Overworld, queda prohibido proteger otra dimensión.</li>
          <li class="rule">No usar hacks o cualquier programa que den ventajas sobre otros jugadores.</li>
          <li class="rule">No usar multi cuentas.</li>
          <li class="rule">No se puede compartir cuentas.</li>
          <li class="rule">Prohibido granjas AFK o 0 ticks.</li>
          <li class="rule">Prohibido el grifeo ya sea para molestar o broma.</li>
          <li class="rule">Prohibido invocar al wither en el OverWorld, utilicen el Nether.</li>
          <li class="rule">Matar a un jugador constantemente se considera grifeo.</li>
        </ol>
      </div>

      <div class="discord-rules rules">
        <h2 class="discord-rules-title rules-title">Discord</h2>
        <ol class="rules-list">
          <li class="rule">Ser respetuoso con el resto de usuarios de la comunidad y de otras comunidades.</li>
          <li class="rule">Evitar cualquier tipo de polémica innecesaria/temas de conversación con motivo de meterse con cualquiera.</li>
          <li class="rule">No hacer one-man SPAM. Si os ponéis todos de acuerdo para spamear algo, ok. Hacerlo tú solo es como repetir un chiste 6 veces delante de tus amigos y que ninguno se ría. No tiene gracia.</li>
          <li class="rule">No mencionar de forma innecesaria a miembros del staff.</li>
          <li class="rule">No autopromocionarse o promocionar otros canales cuando nadie lo pide.</li>
          <li class="rule">Mucho cuidado con los enlaces, sobre todo aquellos que dan Discord Nitro, Juegos Gratis, etcétera. Lo único que hacen es robarte la cuenta de Discord.</li>
          <li class="rule">Prohibido el contenido NSFW, incluidos avatares de usuarios o banners</li>
          <li class="rule">Prohibido cualquier contenido racista, homofóbico, xenofóbico, etc.</li>
        </ol>
      </div>
	  <div class="warning">
		<p>Cualquier incumplimiento de una regla sera sancionado con el baneo inmediato de Discord y Minecraft!</p>
		<div class="icon">
		  <i class="fa-solid fa-exclamation"></i>
		</div>
	  </div>
	</div>
  </section>
  


  <!--Server Join-->
  <section id="join-server">
    <div class="content">
      <h2 class="section-title">Si leiste las <span>reglas</span>, ahora puedes ir y <span>disfrutar</span> el servidor!</h2>
      <div class="buttons" >
        <button class="copy-ip">Copiar IP</button>
        <a href="https://discord.io/LaFincaSv" class="discord-link"><button class="join-discord">Unete a discord</button></a>
      </div>
      <p class="ip-copied">IP copiado!</p>
    </div>
  </section>

  <!--Footer-->
  <footer id="footer">
    <p class="copyright">&copy; 2023 <span class="server-name-footer">LaFinca</span>. All rights reserved.</p>
    <div class="social-links">
      <a href="#" class="link tiktok-link"><i class="fa-brands fa-tiktok"></i></a>
      <a href="#" class="link instagram-link"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://discord.io/LaFincaSv" class="link discord-link-footer"><i class="fa-brands fa-discord"></i></a>
    </div>
  </footer>
</body>
<script src="js/script.js"></script>
<script src="https://kit.fontawesome.com/cbf5ee59c8.js" crossorigin="anonymous"></script>
</html>